data/geojson/Hanf_2025.geojson filter=lfs diff=lfs merge=lfs -text
data/geojson/Mais_2025.geojson filter=lfs diff=lfs merge=lfs -text
data/geojson/Stroh_2025.geojson filter=lfs diff=lfs merge=lfs -text
