// app global css in SCSS form
@font-face {
  font-family: FTKunstGrotesk;
  src: url(./fonts/FTKunstGrotesk-Medium.woff);
}
@font-face {
  font-family: FTKunstGroteskItalic;
  src: url(./fonts/FTKunstGrotesk-MediumItalic.woff);
}

body {
  font-family: FTKunstGrotesk, Helvetica, Arial, sans-serif;
  text-rendering: geometricPrecision;
  // padding-top: calc(var(--header-height) - 1px)
}

a {
  color: $secondary;
  text-decoration: none;
}

.marked ul,
.marked ol {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.marked h1,
.marked h2,
.marked h3,
.marked h4,
.marked h5,
.marked p {
  margin-bottom: 20px;
}

.marked table {
  border-spacing: 0;
  border-collapse: collapse;
}

.marked table th,
.marked table td {
  padding: 6px 13px;
  border-bottom: 1px solid #ccc;
}

.marked th {
  background-color: #eee;
}

.marked tr:nth-child(even) {
  background-color: #f6f8fa;
}

.q-markdown--link-external:after {
  display: none !important;
}

.text-page h1,
.text-page h2,
.text-page h3,
.text-page h4,
.text-page h5 {
  color: $secondary;
  text-transform: uppercase;
}

.q-btn--outline:before {
  border: 2px solid currentColor;
}

.text-black i {
  color: #acc6a1;
  font-style: normal;
}

.a-map {
  border-right: solid 2px $primary;
}

.a-legend {
  background-color: $primary;
  opacity: 0.8;
  color: white;
}

.fade-text {
  max-height: 100px;
  overflow: hidden;
  position: relative;
  mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
}
