html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html.dark {
  background: #121212;
}

.maplibregl-ctrl-geocoder--result-title, .maplibregl-ctrl-geocoder--result-address {
  text-align: left;
  white-space: inherit !important;
}